@import '~styles/main';

.header {
	background: $color-primary;
	color: #ffffff;
	padding: 12px 20px;
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;

	h1 {
		margin: 0px;
		display: inline-block;
		font-weight: 300;
		text-transform: uppercase;

		span {
			font-size: 26px;
		}
	}

	nav {
		display: inline-block;
		margin-left: 20px;
		line-height: 42px;
		flex-grow: 1;
		text-align: right;

		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;

			li {
				display: inline;

				a {
					color: #ffffff;
					text-decoration: none;
					padding: 4px 12px;
				}
			}
		}
	}
}
.page {
	background: #ffffff;
	margin-top: 60px;
	padding-top: 26px;
	padding-bottom: 40px;
}
.footer {
	padding: 40px 0px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;

	p {
		margin: 8px 0px;
	}
	.profile-photo {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: url(/assets/profile/profile.png) center center no-repeat;
		background-size: cover;
		float: left;
		margin: 0px 12px 12px 0px;
	}
	.social-icon {
		width: 40px;
		height: 40px;
		display: inline-block;
		background: #fff;
		background: center center no-repeat;
		background-size: contain;
	}
	.social-icon-linkedin {
		background-image: url(/assets/icons/icon-social-linkedin-white.png);
	}
}
