<div class="container">
	<h2>Wireless Account Management</h2>
	<div class="subtitle">Arcitect | Development Lead</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>The client needed to redesign, build, test, and deploy new native iOS and Android mobile apps that adhered to complex and strict accessibility standards. The mobile apps needed to work with native mobile operating system features including screen readers and switch controls. Additionally, color contrast ratios, click affordances, and font-resizing standards needed to be met. My team provided expertise in designing and building the compliant apps as well as recommending other improvements that could be made in the tangential technology and processes.</p>
				<p>We deployed the mobile apps to iTunes and Google Play stores and have since been installed on millions of devices. We transitioned the code, accessibility framework and lessons learned, and the continuous build/delivery pipeline to the client. This enabled the client to rapidly iterate on the mobile apps and push out subsequent enhancements.</p>
			</div>
		</div>
		<div class="col">
			<img src="/assets/projects/wireless-account-management/screens.png" alt="App Screens" class="screens-right" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Features</h3>
			<ul>
				<li>Dynamic account management features
					<ul>
						<li>Add a line</li>
						<li>International features</li>
					</ul>
				</li>
				<li>Accept payments</li>
				<li>Manage settings</li>
				<li>Data and voice usage history</li>
				<li>Analytics + crash reporting</li>
				<li>Development pipeline with Git Workflow branching</li>
				<li>Integration with existing APIs</li>
				<li>Live chat with support</li>
				<li>FCC accessibility standards
					<ul>
						<li>Native font settings</li>
						<li>Accessible with native screen readers</li>
						<li>Accessible with native switch control</li>
						<li>Flesch-Kincaid maximum grade reading level</li>
						<li>Maximum color contrast ratios</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Design to Play Store and iTunes in 5 months</li>
				<li>Over 75% of users upgraded within 3 months</li>
				<li>After only 10 days, 1.6 million devices installed the update</li>
				<li>Led to additional work with client</li>
			</ul>

			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">iOS</div>
				<div class="tag">Swift</div>
				<div class="tag">Android</div>
				<div class="tag">Java</div>
				<div class="tag">Axure</div>
				<div class="tag">InVision</div>
				<div class="tag">Crashlytics</div>
				<div class="tag">Woopra</div>
				<div class="tag">Mockable</div>
				<div class="tag">Jira</div>
				<div class="tag">Git</div>
				<div class="tag">Flesch-Kincaid</div>
				<div class="tag">bitrise.io</div>
				<div class="tag">TestFlight</div>
				<div class="tag">Appium</div>
				<div class="tag">AWS Device Farm</div>
				<div class="tag">Checkmarx</div>
			</div>
		</div>
	</div>
</div>


