<!-- Wireless Account Management -->

<div class="container" *ngIf="projectSlug == 'wireless-account-management'">
	<h2>Wireless Account Management</h2>
	<div class="subtitle">Arcitect | Development Lead</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>A large prepaid mobile carrier in Atlanta needed to redesign, build, test, and deploy new native iOS and Android mobile apps that adhered to complex and strict accessibility standards. The mobile apps needed to work with native mobile operating system features including screen readers and switch controls. Additionally, color contrast ratios, click affordances, and font-resizing standards needed to be met. My team provided expertise in designing and building the compliant apps as well as recommending other improvements that could be made in the tangential technology and processes.</p>
				<p>We deployed the mobile apps to iTunes and Google Play stores and have since been installed on millions of devices. We transitioned the code, accessibility framework and lessons learned, and the continuous build/delivery pipeline to the client. This enabled the client to rapidly iterate on the mobile apps and push out subsequent enhancements.</p>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/wireless-account-management/screens.png" alt="App Screens" class="screens-right" />
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Features</h3>
			<ul>
				<li>Dynamic account management features
					<ul>
						<li>Add a line</li>
						<li>International features</li>
					</ul>
				</li>
				<li>Accept payments</li>
				<li>Manage settings</li>
				<li>Data and voice usage history</li>
				<li>Analytics + crash reporting</li>
				<li>Development pipeline with Git Workflow branching</li>
				<li>Integration with existing APIs</li>
				<li>Live chat with support</li>
				<li>FCC accessibility standards
					<ul>
						<li>Native font settings</li>
						<li>Accessible with native screen readers</li>
						<li>Accessible with native switch control</li>
						<li>Flesch-Kincaid maximum grade reading level</li>
						<li>Maximum color contrast ratios</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Design to Play Store and iTunes in 5 months</li>
				<li>Over 75% of users upgraded within 3 months</li>
				<li>After only 10 days, 1.6 million devices installed the update</li>
				<li>Over 10 million downloads</li>
				<li>Led to additional work with client</li>
			</ul>

			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">iOS</div>
				<div class="tag">Swift</div>
				<div class="tag">Android</div>
				<div class="tag">Java</div>
				<div class="tag">Axure</div>
				<div class="tag">InVision</div>
				<div class="tag">Crashlytics</div>
				<div class="tag">Woopra</div>
				<div class="tag">Mockable</div>
				<div class="tag">Jira</div>
				<div class="tag">Git</div>
				<div class="tag">Flesch-Kincaid</div>
				<div class="tag">bitrise.io</div>
				<div class="tag">TestFlight</div>
				<div class="tag">Appium</div>
				<div class="tag">AWS Device Farm</div>
				<div class="tag">Checkmarx</div>
			</div>
		</div>
	</div>
</div>

<!-- True Respite -->

<div class="container" *ngIf="projectSlug == 'true-respite'">
	<h2>True Respite</h2>
	<div class="subtitle">Owner | IT Lead</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>True Respite Brewing Company (<a href="https://truerespite.com" target="_blank">https://truerespite.com</a>) is a craft brewery located in Rockville, MD that opened for business in April of 2018. As a shareholder, I have provided technical leadership and support throughout the entire process from the initial business plan through current operations.</p>

				<h3>Website</h3>
				<p>The TRBC website has undergone several iterations as the business has grown. Initially, a simple splash page with investor information was built to support the founders during their fundraising efforts. As the business continued towards breaking ground, additional features were added including more information about the brewery as well as a blog. The website continues to evolve as customers need/want more information about the business.</p>

				<h3>Menu</h3>
				<p>The taproom does not have any physical menus and relies solely on a completely custom digital menu. The menu displays a list of current beers on tap along with various other bits of information including ABV and style. If the number of brews drops below a threshold, the menu will display a list of upcoming brews. The footer of the menu shows check-in information pulled from Uptappd. The digital menu also has the ability to display the level of beer remaining in the kegs located in the cooler based on weight. All updates happen in near real-time.</p>
				<p>Along with the menu, a tap management application was built that allows managers to keep the menu up-to-date with what brews are available, sold out, and coming soon.</p>

				<h3>Keg Monitoring</h3>
				<p>We want to give customers some insight into how much of each beer style is remaining so they don't miss out on some of the special batches. There are a few options to monitor the remaining beer of a keg. The first is a flowmeter that tracks the amount of beer dispensed. Since we're dealing with comsumed liquid, the flowmeter needs to be food grade and that becomes incredibly pricey especially when there are 16 taps.</p>
				<p>We opted for the alternative solution which is to weigh each keg to get an estimate of the beer remaining. To do this, we leveraged Wii Fit Boards because they're already equiped with a scale, Bluetooth, power supplies, and are encased. This ensured minimal disruption to the current business processes.</p>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/true-respite/screen-website.png" alt="Website Screens" class="screens-right" />
			<img src="/assets/projects/true-respite/photo-menu.png" alt="Digital Menu" class="screens-right" />
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Features</h3>
			<ul>
				<li>Website with content management capabilities</li>
				<li>Custom digital menu with tap management</li>
				<li>Keg scales to provide customers with an estimate on remaining beer</li>
				<li>Integration with Square's APIs to manage inventory and process online orders</li>
				<li>Integration with Uptappd</li>
			</ul>
		</div>
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Digital menu has worked smoothly since opening day</li>
				<li>Website engages over 2k customers a month</li>
				<li>True Respite received the most awards of any brewery in the Maryland beer competition</li>
			</ul>

			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Website</div>
				<div class="tag">Angular</div>
				<div class="tag">Digital Signage</div>
				<div class="tag">Raspberry Pi</div>
				<div class="tag">Hardware</div>
				<div class="tag">Keg Scales</div>
				<div class="tag">Bluetooth</div>
				<div class="tag">Python</div>
				<div class="tag">PHP</div>
				<div class="tag">TypeScript</div>
				<div class="tag">Uptappd API</div>
				<div class="tag">Square API</div>
				<div class="tag">Google Calendar API</div>
			</div>
		</div>
	</div>
</div>

<!-- Fantasy Wiffle -->

<div class="container" *ngIf="projectSlug == 'fantasy-wiffle'">
	<h2>Fantasy Wiffle</h2>
	<div class="subtitle">Sole Owner | Designer | Developer</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>The annual Travis Roy Foundation WIFFLE Ball Tournament at Little Fenway in Essex, Vermont, has raised over $4.7 Million to benefit spinal cord injured survivors and research into a cure for paralysis. This unique community event, where players from around the country can enjoy playing America's #1 backyard game on replicas of Fenway Park, Wrigley Field, and Field of Dreams, has captured the attention of major media sources, sports enthusiasts, and friends of Travis Roy.</p>
				<p>We pulled together WIFFLE ball player statistics across 28 teams from over 15 years to create a fantasy game that let's you draft your fantasy WIFFLE ball team and compete against others for bragging rights. All proceeds go directly to the Travis Roy Foundation.</p>
				<p>Since the WIFFLE ball tournament is annual, the application is shutdown and replaced with a splash screen during the months of no activity.</p>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/fantasy-wiffle/screen-phone.png" alt="Phone Screens" class="screens-right" />
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Features</h3>
			<ul>
				<li>Accepts donations to charity for team entries</li>
				<li>Draft players using fantasy budget</li>
				<li>Watch live scores throughout the tournament</li>
				<li>Tournament administration</li>
			</ul>
		</div>
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li><a href="https://fantasywiffle.com/" target="_blank">https://fantasywiffle.com/</a></li>
				<li>Raised more than $5,700 for the Travis Roy Foundation over 3 years</li>
			</ul>

			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Angular</div>
				<div class="tag">Fantasy</div>
				<div class="tag">PHP</div>
				<div class="tag">Stripe</div>
				<div class="tag">Charity</div>
			</div>
		</div>
	</div>
</div>

<!-- Impulse -->

<div class="container" *ngIf="projectSlug == 'impulse'">
	<h2>Impulse</h2>
	<div class="subtitle">Hackathon | 1<sup>st</sup> Place</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p><a href="https://www.hackatl.org/" target="_blank">HackATL</a> is a 48-hour business hackathon hosted by Emory's Goizueta Business School with the goal to "Build a business in 48 hours".</p>
				<h3>Concept Overview</h3>
				<ul>
					<li>Platform that pushes impulse buying to the next level – seconds</li>
					<li>Curates the best deals across the internet and pulls from our own stock to give users the ultimate lowest price</li>
					<li>Forces users to make an impulsive decision to buy; if not then another user will be offered the deal of a lifetime</li>
					<li>Mobile app and wearable app with a simple, intuitive interface for making fast purchasing decisions</li>
					<li>Allows customizable alert settings</li>
				</ul>
			</div>
			<div class="center">
				<iframe style="width: 100%; height: 315px;" src="https://www.youtube.com/embed/q0e-GSF5nkk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/impulse/screens-phone.png" alt="Mobile Screens" class="screens-right" />
			<img src="/assets/projects/impulse/screen-watch.png" alt="Watch Screens" class="screens-right" />
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Competed against hundreds of teams</li>
				<li>Finished in first place</li>
			</ul>
		</div>
		<div class="col">
			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Microsoft IIS</div>
				<div class="tag">Microsoft .NET Entity Framework</div>
				<div class="tag">SQL Server 2012</div>
				<div class="tag">PhoneGap</div>
				<div class="tag">JQuery</div>
				<div class="tag">Android Wear</div>
			</div>
		</div>
	</div>
</div>

<!-- Almost Legendary -->

<div class="container" *ngIf="projectSlug == 'almost-legendary'">
	<h2>Almost Legendary</h2>
	<div class="subtitle">Manager | Member</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>Details coming soon</p>
				<p>Highlights: ASCAP, Copyright, brand/image design, website, fan engagement, twitter tool, bots, song placements, radio placements, merchandise, financial management, video production, demo audio production, tour management, press kit</p>
			</div>
			<div class="center">
				<iframe style="width: 100%; height: 315px;" src="https://www.youtube.com/embed/n7w7Crlp9L8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/almost-legendary/logo.png" alt="Almost Legendary Logo" class="screens-right" />
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/album-cover.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/tour-poster.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-1.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-2.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-3.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-4.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-5.jpg)' }"></div>
			<div class="screens-right-small" [ngStyle]="{ 'background-image': 'url(/assets/projects/almost-legendary/photo-live-6.jpg)' }"></div>

			<!-- <img src="/assets/projects/impulse/screens-phone.png" alt="Mobile Screens" class="screens-right" />
			<img src="/assets/projects/impulse/screen-watch.png" alt="Watch Screens" class="screens-right" /> -->
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li><a href="http://almostlegendarymusic.com" target="_blank">http://almostlegendarymusic.com</a></li>
				<li><a href="https://open.spotify.com/artist/19d42OyOaeXiUjmcbbbAQY" target="_blank">Spotify</a></li>
				<li><a href="https://www.pandora.com/artist/almost-legendary/ARhZt5P4Kb5llj6" target="_blank">Pandora</a></li>
				<li><a href="https://en.wikipedia.org/wiki/Almost_Legendary" target="_blank">Wikipedia</a></li>
				<li>Several song placements on Keeping Up With The Kardashians</li>
				<li>Played on the Warped Tour</li>
				<li>East coast and national tours</li>
			</ul>
		</div>
		<div class="col">
			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Almost Legendary</div>
				<div class="tag">Video Production</div>
				<div class="tag">Band Management</div>
				<div class="tag">Brand Management</div>
				<div class="tag">Public Relations</div>
				<div class="tag">Tour Management</div>
				<div class="tag">Website Development</div>
				<div class="tag">Fan Engagement</div>
				<div class="tag">Copyrighting</div>
				<div class="tag">Music Placement</div>
			</div>
		</div>
	</div>
</div>

<!-- Level Up -->

<div class="container" *ngIf="projectSlug == 'level-up'">
	<h2>LevelUp</h2>
	<div class="subtitle">Hackathon | 2<sup>nd</sup> Place</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>The AT&T Developer Summit was an annual conference hosted in Las Vegas, NV. The summit included a 24-hour hackathon between hundreds of teams to develop applications leveraging AT&T APIs. The top three finalists then presented during the keynote.</p>

				<h3>Concept Overview</h3>
				<p>LevelUp gamifies the connected home with a points system and controlled access to rooms, devices, and networks. It connects parents to their children and allows them to engage in a rules-based reward system with well defined rules. LevelUp also empowers parents, giving them the ability to remotely reward desired behaviors like chores, homework, and exercise.</p>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/level-up/screen.png" alt="App Screen" class="screens-right" />
		</div>
	</div>
	<div class="row padded-row">
		<div class="col center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/dHJQ9z6dzGs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Competed against hundreds of teams</li>
				<li>Finished in top 3 finalists and presented during the AT&T keynote</li>
				<li>Placed 2nd overall</li>
			</ul>
		</div>
		<div class="col">
			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Cisco sensors</div>
				<div class="tag">AT&T M2X</div>
				<div class="tag">AT&T Digital Life</div>
				<div class="tag">AT&T WebRTC API</div>
				<div class="tag">WebRTC</div>
				<div class="tag">NodeJS</div>
				<div class="tag">JavaScript</div>
				<div class="tag">AngularJS</div>
			</div>
		</div>
	</div>
</div>

<!-- Sitter -->

<div class="container" *ngIf="projectSlug == 'sitter'">
	<h2>Sitter</h2>
	<div class="subtitle">Hackathon | 2<sup>nd</sup> Place</div>
	<div class="row">
		<div class="col">
			<div class="overview">
				<p>The AT&T Developer Summit was an annual conference hosted in Las Vegas, NV. The summit included a 24-hour hackathon between hundreds of teams to develop applications leveraging AT&T APIs. The top three finalists then presented during the keynote.</p>

				<h3>Concept Overview</h3>
				<p>Finding caregivers for your children, pets, and/or house is a tedious and stressful process. Sitter streamlines that process by giving parents/homeowners and caregivers a platform to connect.</p>
				<p>Leveraging bleeding edge technology from Digital Life, the AT&T API team (Payments, WebRTC, M2X), ESRI, just to name a few, we are able to manage the entire care process from end-to-end providing both parents and caregivers with an elegant, delightful, experience.</p>

				<p>Parents are able to:</p>
				<ol>
					<li>Research and identify local, potential caregivers and feel safe that the caregivers are who they say they are with White Pages identity verification</li>
					<li>Interview caregivers using WebRTC</li>
					<li>Schedule caregivers and give those caregivers temporary access to components of their smart homes</li>
					<li>Allow caregivers automatic access to their house via the Sitter powered caregiver app combined with technology from Digital Life</li>
					<li>Pay for caregiver services using the AT&T Payments API</li>
					<li>Leave reviews of the caregiver</li>
				</ol>

				<p>Caregivers are able to:</p>
				<ol>
					<li>Manage personal availability and interview schedules</li>
					<li>Interview with potential parents</li>
					<li>Get detailed maps of the area around the parent's home. This is especially useful for pet sitters to identify safe walking paths</li>
					<li>Lock/unlock doors and enable/disable alarms based on the schedule outlined by the parent</li>
				</ol>
			</div>
		</div>
		<div class="col center">
			<img src="/assets/projects/sitter/screens-selection.png" alt="App Screens" class="screens-right" />
			<img src="/assets/projects/sitter/screens-booked.png" alt="App Screens" class="screens-right" />
		</div>
	</div>
	<div class="row padded-row">
		<div class="col center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/utvmpZEIGyw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row project-details">
		<div class="col">
			<h3>Results</h3>
			<ul>
				<li>Competed against 700 developers and over 100 teams</li>
				<li>Finished in top 3 finalists and presented during the AT&T keynote</li>
				<li>Placed 2nd overall</li>
			</ul>
		</div>
		<div class="col">
			<h3>Tags</h3>
			<div class="tags">
				<div class="tag">Phonegap</div>
				<div class="tag">ESRI</div>
				<div class="tag">Whitepages Pro API</div>
				<div class="tag">WebRTC</div>
				<div class="tag">AT&T M2X</div>
				<div class="tag">AT&T WebRTC</div>
				<div class="tag">AT&T Payments</div>
				<div class="tag">AT&T Digital Life</div>
				<div class="tag">AT&T Sponsored Data</div>
			</div>
		</div>
	</div>
</div>


