<div class="container">
	<div class="page-header">
		<div class="left">
			<h2>Resume</h2>
		</div>
		<div class="right">
			<a href="/assets/docs/Resume-BrianOConnor.pdf" target="_blank">Download PDF</a>
		</div>
	</div>
	<div class="timeline-container">
		<div class="timeline">

			<!-- Avenir Education -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2017 - Present</h3>
					<div class="timeline-title-company">Avenir Education Inc.</div>
					<div class="timeline-title-title">VP Software Engineering</div>
				</div>
				<div class="timeline-content">
					<p>Avenir Education Inc. was a software and services company created to improve the outcomes of special education students in public schools. During my tenure, I led the software engineering team to design, build, and launch DISTILLIO, an application to assist in the execution of Individual Education Programs and promote communication and collaboration.</p>
					<ul>
						<li>Provided support for education consulting services provided to state and district clients</li>
						<li>Led the design and development of our flagship product to bring it to market for pilot in several districts across the United States</li>
					</ul>
				</div>
			</div>

			<!-- True Respite Brewing Company -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2017 - Present</h3>
					<div class="timeline-title-company">True Respite Brewing Company</div>
					<div class="timeline-title-title">Owner, IT Lead</div>
				</div>
				<div class="timeline-content">
					<p>True Respite Brewing Company (<a href="https://truerespite.com" target="_blank">https://truerespite.com</a>) is a craft brewery located in Rockville, Maryland that opened for business in April of 2018. As the IT Lead and a shareholder, I have provided technical leadership and support throughout the entire creation process, from the initial business plan through current operations.</p>
					<ul>
						<li>Provided technology advice as the business went through fundraising and the launch of the brewery</li>
						<li>Designed and built the True Respite website, content management system, tap management system, digital menus, and keg metering software</li>
					</ul>
				</div>
			</div>

			<!-- AWS Certified Solutions Architect -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2017</h3>
					<div class="timeline-title-company">AWS Certified Solutions Architect</div>
				</div>
				<div class="timeline-content">
					<p>Completed the AWS Solutions Architect exam.</p>
				</div>
			</div>

			<!-- Slalom -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2013 - 2017</h3>
					<div class="timeline-title-company">Slalom</div>
					<div class="timeline-title-title">Solution Principal</div>
				</div>
				<div class="timeline-content">
					<p>Slalom is a business and technology consulting firm headquartered in Seattle, Washington. Slalom helps companies solve business problems and build for the future, with solutions spanning business advisory, customer experience, technology, and analytics.</p>
					<p>Over the course of four years, I worked with a number of clients located in Atlanta to deliver custom software solutions to the business and their customers. My work included greenfield applications, enterprise integrations, and leading development teams to deliver high quality software.</p>
					<ul>
						<li>Led the design and delivery of native iOS and Android account management mobile apps for a major prepaid mobile carrier in Atlanta, Georgia; the apps have been installed on over 10 million devices</li>
						<li>Assisted in the design and implementation of a global digital asset management platform to promote asset reuse and manage talent rights</li>
						<li>Worked with the innovation group within a major telecom company based in Atlanta to ideate and produce prototypes to be sold to business units within the company</li>
					</ul>
				</div>
			</div>

			<!-- Deloitte -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2009 - 2013</h3>
					<div class="timeline-title-company">Deloitte</div>
					<div class="timeline-title-title">Consultant</div>
				</div>
				<div class="timeline-content">
					<p>Over the course of my four year tenure, I provided technology consulting services on behalf of Deloitte to various clients across the United States in the financial and healthcare industries.</p>
					<ul>
						<li>Designed and built a process and platform to handle demand management and labor capacity within a specific timeline to help client meet contractual obligations with other vendors</li>
						<li>Led team of subcontractors to develop Business Intelligence reports, dashboards, and scorecards in SharePoint 2010</li>
						<li>Developed integration tools and packages, customized platform and services, and managed environment migrations and release of Clarity, a Project and Portfolio Management software product, within the Goldman Sachs IT business unit to facilitate project management and empower leadership with portfolio visibility to ease decision making</li>
						<li>Performed insurance, supervisory, and receivership management responsibilities while developing tools, improving business processes, and implementing an ETL suite for the FDIC</li>
					</ul>
				</div>
			</div>

			<!-- Almost Legendary LLC -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2009 - 2012</h3>
					<div class="timeline-title-company">Almost Legendary LLC</div>
					<div class="timeline-title-title">Owner, Manager, Member</div>
				</div>
				<div class="timeline-content">
					<p>Almost Legendary was a self-managed, Atlanta-based pop-punk band that toured the US, played on the Warped Tour, and had song placements on Keeping Up with the Kardashians. As a manager and member of the band, I worked with the other members on all aspects of the band, social presence, image, and media.</p>
					<ul>
						<li>Owned and managed the business, technology, accounting, public image, external communications, marketing and advertising, forecasting, and creative timelines of Almost Legendary</li>
					</ul>
				</div>
			</div>

			<!-- Georgia Tech -->

			<div class="timeline-item">
				<div class="timeline-title">
					<h3>2008</h3>
					<div class="timeline-title-company">Georgia Tech</div>
				</div>
				<div class="timeline-content">
					<p>Bachelors of Science in Computer Science</p>
				</div>
			</div>

		</div>
	</div>
	<!-- End Timeline -->

	<div>
		<div class="left">
			<h2>Clients</h2>
			<p>Over the course of my career, I have had the opportunity to consult or work for the following companies:</p>
		</div>
		<div class="clients">
			<div class="client">
				<img src="/assets/clients/att.png" alt="AT&T" />
			</div>
			<div class="client">
				<img src="/assets/clients/catholic-health-initiatives.png" alt="Catholic Health Initiatives" />
			</div>
			<div class="client">
				<img src="/assets/clients/coca-cola.png" alt="Coca-Cola" />
			</div>
			<div class="client">
				<img src="/assets/clients/cricket-wireless.png" alt="Cricket Wireless" />
			</div>
			<div class="client">
				<img src="/assets/clients/delta.png" alt="Delta" />
			</div>
			<div class="client">
				<img src="/assets/clients/fdic.png" alt="FDIC" />
			</div>
			<div class="client">
				<img src="/assets/clients/goldman-sachs.png" alt="Goldman Sachs" />
			</div>
			<div class="client">
				<img src="/assets/clients/mblox.png" alt="MBlox" />
			</div>
			<div class="client">
				<img src="/assets/clients/state-of-louisiana.png" alt="State of Louisiana" />
			</div>
			<div class="client">
				<img src="/assets/clients/the-home-depot.png" alt="The Home Depot" />
			</div>
			<div class="client">
				<img src="/assets/clients/wireless-maritime-services.png" alt="Wireless Manitime Services" />
			</div>
		</div>
	</div>
</div>
